/*
===============================
  CUSTOM PROPERTIES
===============================
*/
:root {
  /* colors */
  --clr-light-cyan: hsl(193, 38%, 86%);
  --clr-neon-green: hsl(150, 100%, 66%);
  --clr-grayish-blue: hsl(217, 19%, 38%);
  --clr-dark-blue: hsl(218, 23%, 16%);
  --clr-dark-grayish-blue: hsl(217, 19%, 24%);

  /* font sizes */
  --fs-400: calc(24em / 16);
  --fs-300: calc(16em / 16);
  --fs-200: calc(14em / 16);

  /* font-weights */
  --fw-800: 800;
  --fw-400: 400;
}



/*
===============================
  RESETS
===============================
*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  inline-size: 100%;
  display: block;
}

input, textarea, select, button {
  font: inherit;
}

body {
  font-family: 'Manrope', sans-serif;
  block-size: 100vh;
  border: 1px solid red;
  background-color: var(--clr-dark-blue);
  display: grid;
  grid-template-rows: 1fr auto;
}


/*
===============================
  UTILITIES
===============================
*/
.container {
  block-size: 100%;
}

.grid {
  display: grid;
  place-items: center;
}

.fs-200 { font-size: var(--fs-200); }
.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }

.fw-400 { font-weight: var(--fw-400); }
.fw-800 { font-weight: var(--fw-800); }

.text-cyan { color: var(--clr-light-cyan); }
.text-neon { color: var(--clr-neon-green); }



/*
===============================
  COMPONENTS
===============================
*/
/* Card */
.card {
  border-radius: 15px;
  inline-size: min(90%, 450px);
  background-color: var(--clr-dark-grayish-blue);
  text-align: center;
  padding: calc(35em / 16) calc(20em / 16) 0;
}

.card > *:nth-child(2) {
  margin-top: calc(25em / 24);
  position: relative;
}

.card > *:nth-child(4) {
  margin-top: calc(20em / 16);
}

/* Button */
.btn {
  background-color: var(--clr-neon-green);
  border: none;
  border-radius: 50%;
  padding: calc(20em / 16);
  transform: translateY(50%);
  transition: box-shadow .3s;
}

.btn:hover,
.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 20px 10px hsl(150 100% 66% / .5);
}

.loader-container {
  padding-bottom: 20px;
}

.loader-container.hidden {
  display: none;
}

.loader {
  width: 50px;
  height: 50px;
  border: 2px solid var(--clr-light-cyan);
  border-block-start-color: var(--clr-neon-green);
  border-radius: 50%;
  animation: rotate .8s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}